.table thead th {
    background-color: #343a40;
    color: white;
    font-weight: bold;
}

.table td, .table th {
    vertical-align: middle;
}

.btn {
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

    .btn:hover {
        transform: scale(1.05);
    }

.table-hover tbody tr:hover {
    background-color: #f8f9fa;
}

.personal-title {
    font-family: 'Playpen Sans', cursive;
    font-size: 2rem;
    color: #343a40;
    margin-bottom: 1rem;
}

h4.playpen-sans {
    font-family: 'Playpen Sans', cursive;
    color: #343a40;
}
