/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
/*
a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}*/


.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}


    .nav-item a.nav-link:hover {
        color: #555 !important;
    }

/*Badge del carrello*/
.badge-cart-item-count {
    font-size: 0.75rem; /* Riduce la dimensione del testo nel badge */
    position: absolute;

    transform: translate(50%, -50%);
}

/* Stile per il badge in alto a destra dell'icona */
.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute;
    top: -10px; /* Sposta il badge verso l'alto */
    right: -10px; /* Sposta il badge verso destra */
    transform: translate(-50%, -50%);
}

.navbar-bg {
    background-color: #C2C2C2;
}